<div *ngIf="canDo.canView">
  <div class="row">
    <div class="col-12 col-sm-3 col-md-1 col-xl mb-3 mb-xl-0">
      <button type="button" class="btn btn-secondary mr-1" data-toggle="modal" (click)="onAdd()">Add</button>
      <button type="button" class="btn btn-secondary mr-1" data-toggle="modal" (click)="onEdit()">Edit</button>
      <button type="button" class="btn btn-secondary mr-1" (click)="onDelete()">Delete</button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 col-form-label">
      <table class="table table-responsive-sm table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Debug</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of list$ | async" (click)="onSelect(element)"
            [class.selected]="element === selectedElement">
            <td>{{element.id}}</td>
            <td>{{element.name}}</td>
            <td>{{element.desc}}</td>
            <td>{{element.debug}}</td>
            <td><img class="image" src="{{element.image}}" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div bsModal #bugModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bugModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create / Edit Bug</h4>
          <button type="button" class="close" (click)="bugModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id-input">ID</label>
            <div class="col-md-9">
              <input type="text" id="id-input" name="id-input" class="form-control" placeholder="Disabled" disabled
                value="{{selectedElement.id}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="name-input">Name</label>
            <div class="col-md-9">
              <input type="text" id="name-input" name="name-input" class="form-control" [(ngModel)]="selectedElement.name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="desc-input">Desc</label>
            <div class="col-md-9">
              <ckeditor [(ngModel)]="selectedElement.desc" [editor]="Editor"></ckeditor>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="debug-input">Debug</label>
            <div class="col-md-9">
              <input type="text" id="debug-input" name="debug-input" class="form-control" [(ngModel)]="selectedElement.debug">
            </div>
          </div>
          <div class="form-group row" *ngIf="selectedElement.image">
            <label class="col-md-3 col-form-label">Image</label>
          
            <div class="col-md-9">
              <img class="image-big" src="{{selectedElement.image}}" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" *ngIf="selectedElement.image"></label>
            <label class="col-md-3 col-form-label" *ngIf="!selectedElement.image">Image</label>
            <div class="col-md-9">
              <input type="file" id="image-input" name="image-input" accept="image/*" (change)="onChangeImage($event)">
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="bugModal.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>