<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Basic Form</strong> Elements
        </div>
        <div class="card-body">
          <form class="form-horizontal" [formGroup]="projectForm" (ngSubmit)="save()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="id-input">ID</label>
              <div class="col-md-9">
                <input type="text" id="id-input" name="id-input" class="form-control" placeholder="Disabled"
                  value="{{element.id}}" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name-input">Name</label>
              <div class="col-md-9">
                <input type="text" id="name-input" name="name-input" class="form-control" formControlName="name">
                <span class="help-block" *ngIf="name.invalid && name.errors.required">Please enter your project
                  name</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="desc-input">Description</label>
              <div class="col-md-9">
                <ckeditor id="desc-input" name="desc-input" [editor]="descEditor" [(ngModel)]="desc"
                  [ngModelOptions]="{standalone: true}"></ckeditor>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="birthday-input">Start Date</label>
              <div class="col-md-9">
                <input class="form-control" id="startDate-input" type="date" name="startDate-input"
                  formControlName="startDate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="endDate-input">End Date</label>
              <div class="col-md-9">
                <input class="form-control" id="endDate-input" type="date" name="endDate-input"
                  formControlName="endDate">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="marital-input">Status ( Working / Completed )</label>
              <div class="col-md-9">
                <label class="switch switch-label switch-outline-primary-alt">
                  <input class="switch-input" type="checkbox" formControlName="status">
                  <span class="switch-slider" data-checked="&#x2713;" data-unchecked="&#x2715;"></span>
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="estimatedTime-input">Estimated Time</label>
              <div class="col-md-9">
                <input type="number" id="estimatedTime-input" name="estimatedTime-input" class="form-control"
                  formControlName="estimatedTime">
                <span class="help-block" *ngIf="estimatedTime.invalid && estimatedTime.errors.min">Estimated time must
                  be greater 0</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="estimatedTime-input">Total Spent Time</label>
              <div class="col-md-9">
                <input type="number" id="totalSpentTime-input" name="totalSpentTime-input" class="form-control"
                  formControlName="totalSpentTime">
                <span class="help-block" *ngIf="totalSpentTime.invalid && totalSpentTime.errors.min">Total spent time
                  must be greater or equal 0</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="estimatedTime-input">Estimated Dura</label>
              <div class="col-md-9">
                <input type="number" id="estimatedDura-input" name="estimatedDura-input" class="form-control"
                  formControlName="estimatedDura">
                <span class="help-block" *ngIf="estimatedDura.invalid && estimatedDura.errors.min">Estimated duration
                  must be greater 0</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Frameworks</label>
              <div class="col-md-4">
                All frameworks :
                <select class="form-control" size="5" multiple name="frameworks" id="frameworks">
                  <option *ngFor="let id of frameworks" (click)="selectFramework(id)">{{findName(frameworkList, id)}}</option>
                </select>
              </div>
              <div class="col-md-1">
                <button type="button" class="button"><i class="fa fa-arrows-h" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-4">
                Selected frameworks :
                <select class="form-control" size="5" multiple name="selectedFrameworks" id="selectedFrameworks">
                  <option *ngFor="let id of selectedFrameworks" (click)="deselectFramework(id)">{{findName(frameworkList, id)}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Members</label>
              <div class="col-md-4">
                Leader :
                <select class="form-control" id="selectLeader" name="selectLeader" [ngModel]="selectedUsers" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeLeader($event)">
                  <option *ngFor="let id of selectedUsers" [ngValue]="id">{{findName(userList, id)}}</option>
                </select>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                Manager :
                <select class="form-control" id="selectManager" name="selectManager" [ngModel]="selectedUsers" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeManager($event)">
                  <option *ngFor="let id of selectedUsers" [ngValue]="id">{{findName(userList, id)}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-4">
                All users :
                <select class="form-control" size="5" multiple name="users" id="users">
                  <option *ngFor="let id of users" (click)="selectUser(id)">{{findName(userList, id)}}</option>
                </select>
              </div>
              <div class="col-md-1">
                <button type="button" class="button"><i class="fa fa-arrows-h" aria-hidden="true"></i></button>
              </div>
              <div class="col-md-4">
                Selected members :
                <select class="form-control" size="5" multiple name="selectedUsers" id="selectedUsers">
                  <option *ngFor="let id of selectedUsers" (click)="deselectUser(id)">{{findName(userList, id)}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row" *ngIf="element.id !== 0">
              <label class="col-md-3 col-form-label">Others</label>
              <div class="col-md-9 mb-4">
                <tabset>
                  <tab heading="Bugs">
                    <app-project-bug></app-project-bug>
                  </tab>
                  <tab heading="Files">
                    <app-project-file></app-project-file>
                  </tab>
                  <tab heading="Functions">
                    <app-project-function></app-project-function>
                  </tab>
                  <tab heading="Reports">
                    <app-project-report></app-project-report>
                  </tab>
                  <tab heading="Frameworks">
                    <app-project-framework></app-project-framework>
                  </tab>
                  <tab heading="Users">
                    <app-project-user></app-project-user>
                  </tab>
                </tabset>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" [disabled]="!projectForm.valid" (click)="save()"><i
              class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="goBack()"><i class="fa fa-ban"></i> Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>