<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Group List
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of list$ | async">
                <td>{{element.id}}</td>
                <td>{{element.name}}</td>
                <td><i>View in detail</i></td>
                <td>
                  <button type="button" class="btn btn-primary" routerLink="/group/detail/{{element.id}}" [disabled]="element.name === 'Administrator' || (canView === false)">Detail</button>
                  <button type="button" class="btn btn-danger" (click)="deleteElement(element.id)" [disabled]="element.name === 'Administrator' || (canDelete === false)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
